@layer base {
  :root {
    --blue: #5272F2;
    --pink: rgb(224, 83, 170);
    --whiteText: rgb(255 255 255);
    --blackText: black;
    --background: #FFC0D9;
    --linkColor: rgb(2 15 255);
    --visitedLink: rgb(169, 62, 128);

    --sans: "Open Sans", sans-serif;

    /* Font Scale */
    --base-size: 1rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    /* 3.66rem */
    --h2: calc(var(--h3) * var(--scale));
    /* 2.93rem */
    --h3: calc(var(--h4) * var(--scale));
    /* 2.34rem */
    --h4: calc(var(--h5) * var(--scale));
    /* 1.875rem */
    --h5: calc(var(--h6) * var(--scale));
    /* 1.5rem */
    --h6: var(--base-size);
    /* 1.2rem */
    --small: calc(var(--base-size) / var(--scale));
    --xSmall: calc(var(--small) / var(--scale));
    /* 0.96rem */
    --radius: 5px;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--sans);
    line-height: 1.5;
    font-size: var(--base-size);
    padding: 0;
    margin: 0;
    color: var(--blackText);
    background-color: var(--darkBackground);

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin: 0;
  }

  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
  }

  header {
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--whiteText);
    align-items: center;
    cursor: pointer;
  }

  .loginContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
    padding-top: 5rem;
    align-items: center;
    background: linear-gradient(to right, #5272F2, rgb(224, 83, 170));
  }

  .loginInputContainer {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 70%;
  }

  .logoBox {
    width: 120px;
    height: 120px;
    background-color: #B5AE5E;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoHeaderText {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.7rem;
  }

  #loginButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 0.8rem;
  }

  .errorMessage {
    color: darkred;
    font-size: large;
    font-weight: 400;
    text-align: center;
  }

  #registerLink {
    color: var(--linkColor);
    font-weight: 600;
    padding: 0.1rem;
    cursor: pointer;
  }

  .logoHeaderText h1 {
    font-weight: 600;
    font-size: var(--h2);
  }

  .logoHeaderText h2 {
    font-weight: 300;
    font-size: var(--h5);
  }

  header h1 {
    text-align: center;
  }

  header h2 {
    text-align: center;
    font-size: var(--h6);
  }
}

.icon {
  margin-right: 0.5rem;
}

.listViewContainer {
  overflow: scroll;
}

/* Shoutout to user Woodrow Barlow on Stack exchange for the wiggle animation
https://stackoverflow.com/questions/38132700/css-wiggle-shake-effect */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  35% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

h1.wiggle {
  animation: wiggle 2.5s 1;
}

h1.wiggle:hover {
  animation: none;
}