.listViewContainer {
    overflow: scroll;
    background: linear-gradient(to right, #5272F2, rgb(224, 83, 170));
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.listViewCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
}

.listViewCardHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.listViewDetails {
    display: flex;

}